<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Donation Feedback</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <h2>Submit Feedback</h2>

    <form action="/save-feedback"
          method="post">

        <label>Donation ID</label>

        <input type="number"
               name="donationId"
               required>

        <label>Rating (1-5)</label>

        <select name="rating"
                required>

            <option value="">Select Rating</option>

            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

        </select>

        <label>Comment</label>

        <textarea name="comment"
                  rows="4"
                  placeholder="Food distributed successfully"
                  required></textarea>

        <button type="submit">
            Submit Feedback
        </button>

    </form>

    <br>

    <a href="/ngo-dashboard">

        <button type="button">
            Back To Dashboard
        </button>

    </a>

</div>

</body>

</html>

