<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <style>

        .navbar {

            background-color: #2e7d32;
            padding: 15px;
        }

        .navbar a {

            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
        }

        .navbar a:hover {

            text-decoration: underline;
        }

    </style>

</head>

<body>

<div class="navbar">

    <a href="/">Home</a>

    <a href="/donor-dashboard">
        Dashboard
    </a>

    <a href="/add-donation">
        Add Donation
    </a>

    <a href="/feedback">
        Feedback
    </a>

    <a href="/logout">
        Logout
    </a>

</div>

</body>

</html>

